<h2><%= @animal.name %></h2> 
<h4><%= link_to "edit", edit_animal_path %></h4>
<p>Status: <%=  @animal.deceased ? "Deceased" : "Alive" %><br>
Exhibit: <%= @animal.exhibit.name %></p>

<p><%= link_to "perform health checkup", new_animal_health_checkup_path(@animal) %></p>
<p><%= link_to "See Health Record", animal_health_checkups_path(@animal) %></p>
  








